{% extends "site/base.html" %}
{% load staticfiles %}
{% load qhonuskan_votes static %}

{% block statichead %}
	<link rel="stylesheet" type="text/css" href="{% static 'modeldb/dashboard.css' %}" />
	<link href="{% static 'voting_buttons.css' %}" rel="stylesheet" type="text/css" />
	{# customize voting buttons #}
	<style type="text/css">
  		div.object {
    	width: 40px;
    	margin-right: 5px;
    	float: left;
    	border: 1px solid #666;
  		}
	</style>	
	{% voting_script %}
{% endblock %}

{% block content %}

{% comment %}      	
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">InfiniteBrain</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
{% endcomment %}        

    <div class="container-fluid">
      <div class="row">
{% comment %}      	
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item 1</a></li>
            <li><a href="">Nav item 2</a></li>
            <li><a href="">Nav item 3</a></li>
          </ul>
        </div>
{% endcomment %}        
        <!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> -->
        <div class="col-md-12 col-md-offset-0 main">    	    	
          <h1 class="page-header">{{user}}</h1>
          <a class="btn btn-primary" href="/models/add/">Add a model</a>
          <div class="row">
          	<h2 class="sub-header">Your Evolution</h2>
          	<div id="evolve" data-links="{{link_data}}"></div>
          </div>
{% comment %}      	
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
{% endcomment %}    
        
          <h2 class="sub-header">Your Models</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width=20>detail</th>
                  <th>name</th>
                  <th>description</th>
                  <!-- <th>date-added</th> -->
                  <th>structure</th>
                  <th>delete?</th>
                </tr>
              </thead>
              <tbody>
              	{% for model in models %}
                	<tr>
                  		<!-- <td><div class="object">{% vote_buttons_for model %}</div></td> -->
                  		<td>
                  			<a href="/models/{{model.id}}"><button>>></button></a>
                  		</td> 
                  		<td>
                  			<div class="text edit modelname" id="{{model.id}}" name="name">{{model.name}}</div>
                  		</td>
                  		<!-- <a href="{% url 'modeldb:detail' model.id %}">{{ model.name }}</a> -->
                  		<td>
                  			<div class="edit modelnotes" id="{{model.id}}" name="notes">{{model.notes}}</div>
                  		</td>
                  		<!-- <td>{{model.date_added}}</td> -->
                  		{% if model.d3file and model.d3file != "NULL" %}
                  			<td class="graph" id="graph{{forloop.counter0}}" name="{{ MEDIA_URL }}{{ model.d3file }}"></td>
                  		{% else %}
                  			<td class="graph" name=""></td>
                  		{% endif %}
                  		<td>
                  			<button class='delete' id="{{model.id}}">delete</button>
                  		</td>
                	</tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block staticbody %}
	<!-- Edit controls to manage user models -->
	<script src="{% static 'jquery.jeditable.mini.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'd3.min.js' %}"></script>
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <!-- Customize d3 graph of model composition -->
	<style>
	.link {
  		fill: none;
  		stroke: #666;
  		stroke-width: 1px;
	}
	#connection {
  		fill: green;
	}
	.link.connection {
  		stroke: green;
	}
	.link.intrinsic {
  		stroke-dasharray: 0,2 1;
	}
	circle {
  		fill: #ccc;
  		stroke: #333;
  		stroke-width: 1px;
	}
	text {
  		font: 8px sans-serif;
  		pointer-events: none;
  		text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	}
	</style>    
	<!-- User controls and d3 graph of model composition -->
	<script type="text/javascript">	
		$(document).ready(function(){			
			
			// Delete model
			$('button.delete').click(function(){
              $.ajax({
                type:"POST",
                url:"/models/delete/",
                async: true,
                dataType: "text",
                data: {id: $(this).attr('id')},
                success: function(result,status) {
                    console.log(result);
                },
				error: function(a,b,c) {
					console.log('an error occurred');
					console.log(c);
				} // end on-error function                
              });				
			});
			
			// Edit model name
			$('.modelname').each(function(){
				$('.modelname').editable('/models/edit/',{
				type: "text",
				submitdata: {field:'name'},
				submit: 'OK',
				tooltip   : 'Click to edit...',
				});
			});			
			// Edit model description
			$('.modelnotes').each(function(){
				$('.modelnotes').editable('/models/edit/',{
				type: "text",
				submitdata: {
					field: 'notes',
					},
				submit: 'OK',
				tooltip   : 'Click to edit...',
				callback: function(value,settings){
					//console.log('successful editing');
					//console.log(value);
					//return value;
					}
				});
			});
			
			// d3 GRAPH of model evolution
			console.log("looking for evolve data");
			var links = $('div#evolve').attr('data-links'); 
			links = jQuery.parseJSON(links);
			console.log("evolve links: " + links);
			if (links.length >0) 
			  { 
				var nodes = {};
				// Compute the distinct nodes from the links.
				links.forEach(function(link) {
  					link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  					link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
				});

				var width = 300,
    				height = 150;
				
				var force = d3.layout.force()
    				.nodes(d3.values(nodes))
    				.links(links)
    				.size([width, height])
    				.linkDistance(60)
    				.charge(-300)
    				.on("tick", tick)
    				.start();

				var svg = d3.select("div#evolve").append("svg")
    				.attr("width", width)
    				.attr("height", height);
				
				// Per-type markers, as they don't inherit styles.
				svg.append("defs").selectAll("marker")
    				.data(["suit", "connection", "intrinsic"])
  				.enter().append("marker")
    				.attr("id", function(d) { return d; })
    				.attr("viewBox", "0 -5 10 10")
    				.attr("refX", 15)
    				.attr("refY", -1.5)
    				.attr("markerWidth", 6)
    				.attr("markerHeight", 6)
    				.attr("orient", "auto")
  				.append("path")
    				.attr("d", "M0,-5L10,0L0,5");

				var path = svg.append("g").selectAll("path")
    				.data(force.links())
  				.enter().append("path")
    				.attr("class", function(d) { return "link " + d.type; })
    				.attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

				var circle = svg.append("g").selectAll("circle")
    				.data(force.nodes())
  				.enter().append("circle")
    				.attr("r", 6)
    				.call(force.drag);

				var text = svg.append("g").selectAll("text")
    				.data(force.nodes())
  				.enter().append("text")
    				.attr("x", 8)
    				.attr("y", ".31em")
    				.text(function(d) { return d.name; });   
    				 			
				// Use elliptical arc path segments to doubly-encode directionality.
				function tick() {
  				path.attr("d", linkArc);
  				circle.attr("transform", transform);
  				text.attr("transform", transform);
				}
				
				function linkArc(d) {
  				var dx = d.target.x - d.source.x,
      				dy = d.target.y - d.source.y,
      				dr = Math.sqrt(dx * dx + dy * dy);
  				return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
				}
				
				function transform(d) {
  				return "translate(" + d.x + "," + d.y + ")";
				}			
			  }
			
			// d3 GRAPHs of model composition
			$('td.graph').each(function(i) {
				thiselem = $(this);
				var d3file = thiselem.attr('name');
				if(d3file){			
				var jqhr = $.getJSON(d3file, function( links ) {
				//console.log("success. json (" + d3file + "): " + links);
				
				var nodes = {};
				// Compute the distinct nodes from the links.
				links.forEach(function(link) {
  					link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  					link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
				});

				var width = 175,
    				height = 75;
				
				var force = d3.layout.force()
    				.nodes(d3.values(nodes))
    				.links(links)
    				.size([width, height])
    				.linkDistance(15)
    				.charge(-100)
    				.on("tick", tick)
    				.start();

				var svg = d3.select("td.graph#graph"+i).append("svg")
    				.attr("width", width)
    				.attr("height", height);
				
				// Per-type markers, as they don't inherit styles.
				svg.append("defs").selectAll("marker")
    				.data(["suit", "connection", "intrinsic"])
  				.enter().append("marker")
    				.attr("id", function(d) { return d; })
    				.attr("viewBox", "0 -5 10 10")
    				.attr("refX", 15)
    				.attr("refY", -1.5)
    				.attr("markerWidth", 6)
    				.attr("markerHeight", 6)
    				.attr("orient", "auto")
  				.append("path")
    				.attr("d", "M0,-5L10,0L0,5");

				var path = svg.append("g").selectAll("path")
    				.data(force.links())
  				.enter().append("path")
    				.attr("class", function(d) { return "link " + d.type; })
    				.attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

				var circle = svg.append("g").selectAll("circle")
    				.data(force.nodes())
  				.enter().append("circle")
    				.attr("r", 3)
    				.call(force.drag);

				var text = svg.append("g").selectAll("text")
    				.data(force.nodes())
  				.enter().append("text")
    				.attr("x", 8)
    				.attr("y", ".31em")
    				.text(function(d) { return d.name; });
				    
				// Use elliptical arc path segments to doubly-encode directionality.
				function tick() {
  				path.attr("d", linkArc);
  				circle.attr("transform", transform);
  				text.attr("transform", transform);
				}
				
				function linkArc(d) {
  				var dx = d.target.x - d.source.x,
      				dy = d.target.y - d.source.y,
      				dr = Math.sqrt(dx * dx + dy * dy);
  				return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
				}
				
				function transform(d) {
  				return "translate(" + d.x + "," + d.y + ")";
				}			
			
			}) // end of getJSON()
				.fail(function() {
    				console.log( "error loading d3 graph" );
  				});				
			} // end if (td.graph elem id not empty)
			}); // end of loop over td.graph elements
		}); // end $(document).ready()
	</script>
{% endblock %}

