{% extends "site/base.html" %}
{% load staticfiles %}
{% block statichead %}

    <link rel="stylesheet" type="text/css" href="{% static 'modeldb/dashboard.css' %}" />
<!-- following code is from: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->
    <style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    </style>
{% endblock %}
{% block content %}
    {% if size_exceeded %}
      <div class="alert alert-danger text-center" role="alert">Maximum file size exceeded! Please keep files under 5MB each.</div>
    {% endif %}
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-2">
            <h1 class="page-header">Please enter your model details:</h1>
            <!-- <form action="/models/modeldb/" method="post"> -->
            <form action="/models/add/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4> Select a project </h4>

                <div class="form-group">
                    {% for project in projects %}
                    <input id="{{project}}" type="radio" name="project" value="{{project}}" />
                    <label for="{{project}}">{{project}}</label></br>
                    {% endfor %}
                    <input id="newproject" type="radio" name="project" value="newproject"/>
                    <label for="newproject">Add a new project</label>
                    <div id="newprojectentry">
                        <input id="projectname" type="text" name="projectname"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="modelname">Model name</label>
                    <input class="form-control" id="modelname" type="text" name="name" required="required"/>
                </div>

                <!-- Notes -->
                <div class="form-group">
                    <label for="notes">Notes </label>
                    <input id="notes" class="form-control" type="text" name="notes"/></br>
                </div>

                <h4>Level</h4>
                <div class="form-group">
                <!-- Radio buttons for level field -->
                    <input id="mechanism" type="radio" name="level" value="mechanism" />
                    <label for="mechanism">Mechanism</label>
                    <input id="node" type="radio" name="level" value="node"/>
                    <label for="node">Node</label>
                    <input id="network" type="radio" name="level" value="network"/>
                    <label for="network">Network </label>
                </div>

                <h4>Privacy</h4>
                <div class="form-group">
                <!-- Privacy -->

                    <input id="private" type="radio" name="privacy" value="private"/>
                    <label for="private">private</label>
                    <input id="public" type="radio" name="privacy" value="public"/>
                    <label for="public">public</label>
                </div>
                <!-- is published -->
                <h4>Is this model published?</h4>
                <div class="form-group">

                    <input id="ispublished" type="radio" name="ispublished" value="True"/>
                    <label for="ispublisehd">Yes</label>
                    <input id="notpublished" type="radio" name="ispublished" value="False"/>
                    <label for="notpublished">No</label>

                    <div class="form-group" id="citations">
                        <label for="citationtitle">Title of citation</label>
                        <input class="form-control" type="text" name="citationtitle" id="citationtitle"/>
                        <label for="citationstring">Reference</label>
                        <input class="form-control" type="text" name="citationstring" id="citationstring"\>
                        <label for="citationurl">URL</label>
                        <input class="form-control" type="text" name="citationurl" id="citationurl"\>
                        <label for="citationabout">About this citation</label>
                        <input class="form-control" type="text" name="citationabout" id="citationabout"/>
                    </div>
                </div>
                
                <h4>Tags</h4>
                <div class="form-group">
                    {% for tag in tags %}
                    <input type="checkbox" value="{{tag.name}}" id="{{tag.name}}" name="tag[]" />
                    <label for="{{tag.name}}">{{tag.name}}</label>
                    {% endfor %}
                    <div class="form-group">
                        <label for="newtags">Add new tags:</label>
                        <input type="text" id="newtags" name="newtags"/>
                    </div>
                </div>

                <!-- Add files to the model. CSS and HTML from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/-->
                <h4>Upload your model</h4>
                <div class="col-lg-6 col-sm-6 col-12 input-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="file-input btn-primary btn btn-file">
                                Browse&hellip;<input required="required" id="file" type="file" name="specfile" multiple>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly/>
                    </div>
                </div>
                
                </br>
                <div class="input-group">
                    <label for="filetype">Type of file:</label>
                    <input type="text" class="form-control" name="filetype" id="filetype"/>
                </div>
                <h4>Upload a readme file</h4>
                <div class="col-lg-6 col-sm-6 col-12 input-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="file-input btn-primary btn btn-file">
                                Browse&hellip;<input required="required" id="readme" type="file" name="readme">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly/>
                    </div>
                </div>
                </br>
                <div class="input-group">
                    <input type="submit" value="Submit" />  
                </div>
            </form>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $("#newprojectentry").hide();
        $("#citations").hide();
        
        $("input[name$='ispublished']").click(function() {
            if ($(this).val() == "True") {
                $("#citations").show();
            }
            else {
                $("#citations").hide();
            }
        });
        $("input[name$='project']").click(function() {
            if ($(this).val() == "newproject") {
                $("#newprojectentry").show();
            }
            else {
                $("#newprojectentry").hide();
            }
        });
// following code is from: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        });
});
    // following code is from: http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
    });
</script>
{% endblock %}

{% block staticbody %}

{% endblock %}
<!-- ADD JQUERY TO CONVERT FORM DATA TO JSON -->
