<!-- below code taken from Haystack Tutorial -->
{% extends 'site/base.html' %}
{% block content %}
    <h2>Search</h2>
    <div class="container">
        {% if query or page.object_list %}
            <h3>Results</h3>
                <div class="col-md-12 col-md-offset-0 main">        
                  <h2 class="sub-header">Models <a href="/models/evolution/">[evolution]</a></h2>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>name</th>
                          <th>description</th>
<!--                           <th>description</th>
 -->                   <!--        <th>structure</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% for result in page.object_list %}
                            <tr>
                                <td>
                                    <div class="text"><a href="/models/{{result.object.id}}">{{result.object.name}}</a></div>
                                </td>
                                <td>
                                    <div class="edit modelnotes" id="{{result.object.id}}" name="notes"><font size="2">{{result.object.notes}}</font> <font size="1" color="black"><font color="red">({{result.object.level}}</font> model added by <font color="red" size=1.5><b>{{result.object.username}}</b></font> on <font color="red">{{result.object.date_added}}</font>)</font></div>
                                </td>
                                <!-- {% if result.object.description and result.object.description != "NULL" %}
                                    <td class="text" id="{{result.object.description}}" name="description">{{result.object.description}}</td>
                                {% else %}
                                    <td class="text" name="">None available</td>
                                {% endif %}
                                {% if result.object.d3file and result.object.d3file != "NULL" %}
                                    <td class="graph" id="graph{{forloop.counter0}}" name="{{ MEDIA_URL }}{{ result.object.d3file }}"></td>
                                {% else %}
                                    <td class="graph" name="">None available</td>
                                {% endif %} -->
                            </tr>
                        {% empty %}
                            <p>No results found.</p>
                        {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <h4>No objects found!</h4>
        {% endif %}
</div>
{% endblock %}